
.header {
  text-transform: uppercase;

  & > nav {
    background-color: rgba(0, 0, 0, .5);

    ul li.active {
      text-decoration: underline;
      //background-color: rgba(0,0,0, .3);
      background-color: transparent;
    }
  }
}


.navbar-fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;

  height: 70px;

  border: 1px solid transparent;

}